@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Libre+Baskerville&display=swap');

body{
font-family:'Libre Baskerville',serif;
margin:0;
line-height:1.6;
}
header{
height:180px;
background:#FDF4FF;
padding-top:20px;
text-align:center;
}

h1,h2,h3{
font-family:'Fjalla One',sans-serif;
color:#86198F;
text-align:center;
}

nav ul{
display:flex;
justify-content:center;
gap:20px;
list-style:none;
padding:0;
flex-wrap:wrap;
}

nav a{
text-decoration:none;
color:#86198F;
font-weight:bold;
font-size:18px;
}

.container{
max-width:900px;
margin:auto;
padding:20px;
}

.subtitle{
font-size:20px;
text-align:center;
}

table{
width:100%;
border-collapse:collapse;
margin:auto;
}

th,td{
border:1px solid #86198F;
padding:10px;
}

tr:nth-child(even){
background:#FDF4FF;
}

.author{
display:inline-block;
width:220px;
margin:37px;
text-align:center;
vertical-align:top;
}

.author img{
width:150px;
height:150px;
border-radius:50%;
object-fit:cover;
display:block;
margin:auto;
}

img{
display:block;
margin:auto;
max-width:100%;
}

form{
max-width:500px;
margin:auto;
padding:20px;
border:1px solid #86198F;
border-radius:10px;
}

input,textarea{
width:100%;
padding:10px;
margin-top:10px;
margin-bottom:10px;
box-sizing:border-box;
}

textarea{
height:120px;
resize:none;
}

footer{
background:#FDF4FF;
padding:20px;
text-align:center;
margin-top:30px;
}

@media(max-width:768px){

nav ul{
flex-direction:column;
}

.author{
display:block;
margin:auto;
}

header{
height:auto;
}

iframe{
border:none;
margin-top:20px;
margin-bottom:20px;
border-radius:10px;
}